@charset "UTF-8";
/* CSS Document */


h1{
	text-align: center;
	
	
}

body{
	
	background-color: rgb(247, 153, 136)
}

img{
	width: 200px;
	
}

h3{
display: block;
background-color: red;
padding: 30px;
border-radius: 10px;
text-align: center;
margin-left: 43%;
margin-right: 43%;
}



@media (max-width:768px){
	.row{
		display: flex;
		flex-wrap: wrap;
		height: 100vh;
		align-items: center;
		justify-content: center;
		display: block;
		
		
	}
	
}
	
	
	
	
	
	
@media(max-width:767){
	.row{
	display: flex;
	justify-content:flex-center;
	text-align: center;
		}		
	}
	
	
	
	
}